.img {
    max-width: 100%;
    cursor: url("../img/crosshair_cursor.svg") 50 50, pointer;
}

.game-board {
    align-self: center;
    overflow: hidden;
    position: relative;
}

.guess-marker {
    width: 75px;
    height: 75px;
    background-color: rgba(163, 163, 163, 0.589);
    border: 4px dashed white;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.char-select {
    margin: 0;
    width: max-content;
    min-width: 100px;
    max-width: 150px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.726);
    color: white;
    list-style-type: none;
    padding: 0;
    border-radius: 5px;
    li {
        border-radius: 5px;
        padding: 10px 15px;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover {
            background-color: rgba(104, 104, 104, 0.459);
        }
    }
}
