.header {
    display: flex;
    height: 55px;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(110, 9, 30);
    font-size: 1.4rem;
    color: rgb(195, 168, 163);
    font-weight: bold;
}
