.header {
    position: sticky;
    z-index: 1;
    top: 0;
    --header-height: 55px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: var(--header-height);
    justify-items: center;
    align-items: center;
    background-color: var(--header-color);
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: bold;
    border-bottom: 1px solid;
}

.left {
    // position: relative;
    .point {
        /* position: absolute;
        right: -40px;
        top: 0px; */
    }
}

.found-counter {
    user-select: none;
    &.active {
        background-color: var(--modal-background-color);
    }
    span {
        display: flex;
        align-items: center;
        gap: 7px;
    }
    .found-modal {
        cursor: default;
        position: absolute;
        top: var(--header-height);
        transform: translateX(-10px);
        background-color: var(--modal-background-color);
        padding: 15px;
        border-radius: 5px;
        font-size: 0.85em;
        .char {
            display: grid;
            grid-template-columns: 80px auto;
            align-items: center;
            margin-top: 10px;
            &.found {
                filter: contrast(8%);
                text-decoration: line-through;
            }
            img {
                max-height: 100px;
                max-width: 75px;
                &[alt^="batman" i],
                &[alt^="waldo" i],
                &[alt^="spider-man" i],
                &[alt^="crash" i],
                &[alt^="kratos" i] {
                    transform: rotateY(180deg);
                }
            }
        }
    }
}

// buttons in header
.found-counter {
    height: 100%;
    border-radius: 5px;
}

.restart,
.found-counter span {
    &:active {
        background-color: var(--modal-background-color);
    }
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-radius: 5px;
}

@keyframes slide-left-right {
    0% {
        transform: translate(-55px, 1px);
    }
    50% {
        transform: translate(-45px, 1px);
    }
    100% {
        transform: translate(-55px, 1px);
    }
}

@keyframes slide-up-down {
    0% {
        transform: translate(15px, -5px);
    }
    50% {
        transform: translate(15px, -15px);
    }
    100% {
        transform: translate(15px, -5px);
    }
}

@media screen and (min-width: 600px) {
    .found-counter.not-clicked:before {
        content: "👉🏽";
        position: absolute;
        transform: translate(-45px, 1px);
        font-size: 2rem;
        animation: slide-left-right 1000ms linear infinite;
    }
}

@media screen and (max-width: 599px) {
    .found-counter.not-clicked:after {
        content: "👆🏽";
        position: absolute;
        transform: translate(15px, -15px);
        font-size: 2rem;
        animation: slide-up-down 1000ms linear infinite;
    }
}
